@use '@carbon/layout';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/components/button/tokens' as button-tokens;
@use 'mixins';

// need this outside of data-carbonize scope
.docs-story {
  background-color: theme.$background;
}

[data-carbonize] {
  #storybook-docs {
    background-color: theme.$background;
    .sbdocs {
      background-color: theme.$background;
    }
  }
}
