@use '@carbon/layout';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/components/button/tokens' as button-tokens;
@use 'mixins';

[data-carbonize] {
  .sb-bar[data-testid='sb-preview-toolbar'][aria-labelledby='sb-preview-toolbar-title'] {
    background-color: theme.$layer;
    box-shadow: theme.$border-subtle 0 -1px 0 0 inset;
    button {
      @include mixins.button;
    }
    // divider
    button + span:has(+ button) {
      margin: 0;
      background-color: theme.$border-subtle;
      block-size: 100%;
    }
    div {
      gap: 0;
      margin: 0;
    }
  }
}
